<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}"></html>
  <head>
    <title>Services Page</title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to the service page</h1>
      <h2>
        Services offered by SCM Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illo dolores laudantium voluptas quas similique
        obcaecati, quos ab eum perspiciatis provident, dolore sint impedit
        excepturi veritatis. Libero impedit temporibus tenetur necessitatibus?
      </h2>
    </section>
    <script>
        console.log("service page");
      </script>
  </body>
</html>
